			body,html{
				overflow-x:hidden;
			}
			.carousel {
			    display: inline-block;
			}
			.demo-nav.fixed.fixed-top {
				z-index: 8;
				background: #fff;
				width: 100%;
				padding: 0;
				border-bottom: solid 3px #0a8;
				-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
				box-shadow: 0 3px 6px rgba(0, 0, 0, .175);
			}
			.hexagon {
			    display: inline-block;
			    position: relative;
			    padding: 45px 0;
			    margin-bottom: 20px;
			    /* background: #000; */
			}
			.hexagon:before, .hexagon:after {
			    content: '';
			    position: absolute;
			    top: 45px;
			    left: 0;
			    width: 150px;
			    height: 87px;
			    -moz-transform: rotate(60deg);
			    -ms-transform: rotate(60deg);
			    -o-transform: rotate(60deg);
			    -webkit-transform: rotate(60deg);
			    transform: rotate(60deg);
			    border-right: 1px solid #0a8;
			    border-left: 1px solid #0a8;
			}
			.hexagon .inner {
			    vertical-align: middle;
			    display: table-cell;
			    width: 150px;
			    height: 87px;
			    border-left: 1px solid #0a8;
			    border-right: 1px solid #0a8;
			}
			.hexagon:after {
			    content: '';
			    position: absolute;
			    top: 45px;
			    left: 0;
			    width: 150px;
			    height: 87px;
			    -moz-transform: rotate(60deg);
			    -ms-transform: rotate(60deg);
			    -o-transform: rotate(60deg);
			    -webkit-transform: rotate(60deg);
			    transform: rotate(60deg);
			    border-right: 1px solid #0a8;
			    border-left: 1px solid #0a8;
			}
			.hexagon:after {
			    -moz-transform: rotate(-60deg);
			    -ms-transform: rotate(-60deg);
			    -o-transform: rotate(-60deg);
			    -webkit-transform: rotate(-60deg);
			    transform: rotate(-60deg);
			}
			.media.service-box {
			    margin: 25px 0 36px;
			    text-align: center;
			}
			
			.section-header .section-title {
			    font-size: 38px;
			    color: #121D29;
			    position: relative;
			    padding:20px 0;
			    margin: 0 0 20px;
			}
			.section-header .section-title:before {
			    content: "";
			    position: absolute;
			    width: 140px;
			    bottom: 0;
			    left: 50%;
			    margin-left: -70px;
			    height: 4px;
			    background: #0a8;
			}		

			.copyright{
				margin-bottom:0px;
				height:60px;
				padding-top: 8px;
				font-size:16px;
			}
			.shutter-btn{
				display:block;
			}
			#header-demo{
			    position: relative;
			}
			@media only screen and (max-width: 414px) {
				.shutter{
					height:220px!important;
				}
				.copyright{
					font-size:12px;
				}
				.section-header .section-title {
				    font-size: 26px;
				}
				.section-header .section-title:before {
				    width: 100px;
				    left: 56%;
				}
				.shutter-btn{
					display:none;
				}
			}
			/*.lunboFrame img{
				height: 300px;
				width: 100%;
			}*/
			.copyright{
				font-size:12px;
			}
			.text-green{
				color:#0a8;
			}
			
			
			.box{
			    position:fixed;
			    right:10px;
			    bottom: 10px;
			    width: 50px;    
			    text-align:center;
			    padding-top:20px;    
			    background-color: #0a8;
			    border-radius: 20%;
			    overflow: hidden;
			    opacity:0.6;
			}
			.box:hover:before{
			    top:50%
			}
			.box:hover .box-in{
			    visibility: hidden;
			}
			.box:before{
			    position: absolute;
			    top: -50%;
			    left: 50%;
			    transform: translate(-50%,-50%);
			    content:'回到顶部';
			    width: 40px;
			    color:#fff;
			    font-weight:bold;
			
			}    
			.box-in{
			    visibility: visible;
			    display:inline-block;
			    height:20px;
			    width: 20px;
			    border: 3px solid black;
			    border-color: white transparent transparent white;
			    transform:rotate(45deg);
			}
			.fa {
				font-size: 40px;
				color: #0a8;
			}
			#container{
				height:400px;
				margin: 50px auto;
			}
			/*.rightMap {
				width: 100%;
				height: 400px;
				padding: 40px 20px;
				box-sizing: border-box;
			}
			.containerMap {
				width: 100%;
				height: 100%;
				float: left;
			}
			
			.des {
				float: right;
				width: 48%;
				height: 100%;
				border: 1px dashed #000;
				box-sizing: border-box;
			}
			
			.info {
				margin-top: 20px;
				padding-left: 20px;
				color: #cc5522;
				font-size: 20px;
				margin-bottom: 40px;
				text-align: center;
			}
			
			
			.titleMap {
				font-size: 14px;
				font-weight: bold;
				color: #cc5522;
			}
			
			.contentMap {
				font-size: 13px;
				color: #333;
				margin-top: 6px;
			}*/